@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'reset';
@import 'vendor/bootstrap/bootstrap';

// ---------------------------------------------------------
// Mixins & Variables
// ---------------------------------------------------------

// COLOURS
$primary: #6281D8;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
  color: rgba(#fff, 0.3);
  font-weight: normal;
}



// ---------------------------------------------------------
// Base
// ---------------------------------------------------------

body {
  font-family: Helvetica;
  color: #fff;
  background: url("../../images/hello.jpg") fixed;

}

a, a:link, a:visited {
  text-decoration: none;
  color: $primary;
}


// ---------------------------------------------------------
// Text
// ---------------------------------------------------------

// Use the class text on any container specifically for textual content

.text {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  ul {

  }

  ol {

  }

  blockquote {

  }
}

/* Main Site
================================ */

.site-wrap {
  @include outer-container;
  top: 20%;
  width: 24em;
  position: absolute;
  left: 50%;
  margin-left: -12em;
}

.timer-form {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 0.02em;

  label {
    font-weight: normal;
    width: 100%;
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 4px solid rgba(darken($primary, 20%), 0.5);
    color: #fff;
    display: block;
    font-weight: bold;
    width: 100%;
    letter-spacing: 0.05em;

    &:focus {
      outline: none;
      border-bottom: 4px solid rgba(darken($primary, 20%), 0.9);
    }
  }
}

.submit-button {
  border: none;
  display: block;
  background: rgba(darken($primary, 20%), 0.4);
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  padding: 0.5em 1em;
  width: 100%;
  &:hover {
    background: rgba(darken($primary, 20%), 0.6);
  }
}

